*.jar
/crash-reports
/.vscode/settings.json
/logs
/usercache.json
/usernamecache.json
/.curseclient
/options.txt
/saves
/journeymap/data
/openloader/.cache
/journeymap/journeymap.log
/dumps
/*.log
/screenshots
/downloads
*.bak
/.mcattributes
/journeymap/icon/
/config/spark/
*.hprof
rhino.local.properties
*.mp4
